<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bicycle{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h4>Id: {{ bicycle.id }}</h4>
            <a href="{{ path('ride', {'id': bicycle.id }) }}">Ride</a>
            <h4>Gear: {{ bicycle.gear }}</h4>
            <a href="{{ path('shiftUp', {'id': bicycle.id }) }}">Shift Up</a>
            <a href="{{ path('shiftDown', {'id': bicycle.id }) }}">Shift Down</a>
            <h4>Tire Pressure: {{ bicycle.tirePressure }}</h4>
            <a href="{{ path('inflateTires', {'id': bicycle.id }) }}">Inflate Tires</a>
        {% endblock %}
    </body>
</html>
